* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: antiquewhite;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  margin-right: 20px;
  font-size: 18px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  margin: 10px;
  cursor: pointer;
}

.nav-items > ul > li:hover {
  color: brown;
  text-decoration: underline;
}

.logo {
  margin-left: 20px;
}

.logo img {
  height: 180px;
  width: 170px;
}

/* Restaurant-cards */
.body {
  .search-bar {
    margin-top: 10px;
    text-align: center;
  }
  .search-bar input {
    height: 80px;
    border: none;
    width: 600px;
    font-size: 30px;
    padding-left: 15px;
    border-bottom: 0.5px solid black;
    color: #515151;
    &:focus-visible {
      border: none;
      outline: none;
      border-bottom: 0.5px solid black;
    }
  }

  .restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    .card-container {
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      margin: 20px;
      width: 250px;
      cursor: pointer;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      }
      img {
        height: 200px;
        width: 250px;
      }
      .title {
        padding: 10px;
        font-size: 22px;
      }
      .details {
        margin: 20px;
        text-align: left;
        font-size: 16px;
      }
    }
  }
}
