* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-app {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.header {
  background-color: antiquewhite;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  margin-right: 20px;
  font-size: 18px;
}

.nav-items > ul {
  display: flex;
  list-style: none;
}

.nav-items > ul > li {
  margin: 10px;
  cursor: pointer;
}

.nav-items > ul > li:hover {
  color: brown;
  text-decoration: underline;
}

.logo {
  margin-left: 20px;
}

.logo img {
  height: 180px;
  width: 170px;
}

/* Restaurant-cards */
.body {
  .restaurant-cards {
    display: flex;
    flex-wrap: wrap;
    // margin-top: 50px;
    .card-container {
      // border: 1px solid black;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
      margin: 20px;
      height: 300px;
      cursor: pointer;
      &:hover {
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      }
      img {
        height: 140px;
        // border: 1px solid red;
        width: 250px;
      }
      .title {
        text-align: center;
        font-size: 22px;
      }
      .details {
        margin: 20px;
        text-align: left;
        font-size: 16px;
      }
    }
  }
}
